<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 简单查询 -->
<mapper namespace="dao.IStudent">
    <sql id="studentColumns">id=#{id}</sql>
    <sql id="someinclude">#{name},#{age},#{sex},#{phone},#{claesses}</sql>
    <insert id="insertStudent" parameterType="bean.Student" keyProperty="id" useGeneratedKeys="true" flushCache="true">
        insert into student(id,name,age,sex,phone,claesses) values(#{id},<include refid="someinclude"></include>)
    </insert>
    <update id="UpdateStudent" parameterType="bean.Student" flushCache="true">
        update student set <include refid="someinclude"></include> <include refid="studentColumns"/>
    </update>
    <delete id="deleteStudentById" parameterType="int" flushCache="true">
        delete from student where <include refid="studentColumns"/>
    </delete>
    <select id="findAll" resultType="bean.Student" flushCache="true">
        select * from student
    </select>
    <select id="getStudents" parameterType="int" resultType="bean.Student" flushCache="true">
        select * from student where <include refid="studentColumns"/>
    </select>
    <select id="selectByNameAndAge" parameterType="bean.Student" resultType="bean.Student">
        select * from student
    <where>
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="age!=null and age!=''">
            and age=#{age}
        </if>
    </where>
    </select>
</mapper>
