<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 多对多的映射查询 -->
<mapper namespace="dao.IProduct">
    <select id="findOrdersWithProduct" parameterType="int" resultMap="OrdersWithProductResult">
        select o.*,op.*,p.* from orders o,product p,orders_product op where o.id=op.orders_id and p.pid=op.product_id and o.id=#{id}
	</select>
	<resultMap id="OrdersWithProductResult" type="bean.Orders">
		<id property="id" column="id" />
		<result property="number" column="number" />
		<collection property="productList" ofType="bean.Product">
			<id property="pid" column="pid" />
			<result property="goodsName" column="goodsName" />
			<result property="price" column="price" />
		</collection>
	</resultMap>
</mapper>